[submodule "depends/markdown-mode"]
	path = depends/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "depends/haskell-mode"]
	path = depends/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "depends/jade-mode"]
	path = depends/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule "depends/yasnippet"]
	path = depends/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "depends/yasnippet-snippets/js2-mode"]
	path = depends/yasnippet-snippets/js2-mode
	url = https://github.com/NodeWork/js-yasnippets.git
[submodule "depends/golden-ratio"]
	path = depends/golden-ratio
	url = https://github.com/roman/golden-ratio.el.git
[submodule "depends/powerline"]
	path = depends/powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
